* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#perf {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
}
#root {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h3 {
  margin-top: 20px;
}

button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #b1d7ff;
  border: 1px solid #6995c3;
  border-radius: 3px;
}
button:focus {
  outline:0;
}
button.active {
  background: #ffb1b1;
  border: 1px solid #c36969;
}
ul {
  list-style-type: none;
}

.animation {
  position: relative;
  background: black;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 50%;
}
.animated {
  position: absolute;
  border-radius: 50%;
  left: 0;
  right: 0;
  background: red;
  height: 100%;
  transform: scale(0);
}

.output {
  margin-bottom: 10px;
  padding: 10px;
  background: #EEE;
  border: 1px solid #DDD;
}

.perfData {
  border-left: 1px solid #CCC;
}

.perfD {
  height: 1px;
  background: blue;
}
