* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#perf {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
}
#root {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h3 {
  margin-top: 20px;
}

button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background: #b1d7ff;
  border: 1px solid #6995c3;
  border-radius: 3px;
}
button.active {
  background: #ffb1b1;
  border: 1px solid #c36969;
}
ul {
  list-style-type: none;
}

.output {
  margin-top: 10px;
  padding: 10px;
  background: #EEE;
  border: 1px solid #DDD;
}

.perfData {
  border-left: 1px solid #CCC;
}

.perfD {
  height: 2px;
  background: blue;
}
